@font-face {
  font-family: sitefont;
  src: url(/endurance-portfolio-website/assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}
body {
  background-color: azure;
  color: cornsilk;
  font-family: sitefont;
  
}
header {
  display: grid;
  grid-template-columns: auto auto;
  position: fixed;
  width: 100%;
  padding: 30px 20px;
}

.logo {
  color: blueviolet;
  font-size: 1.8rem;
  font-weight: 600;
}



.navbar {
  display: flex;
}
.navbar li {
  list-style: none;
}
.navbar a {
  color: blueviolet;
  font-size: 1rem;
  padding: 10px 20px;
  font-weight: 500;
}
.navbar a:hover {
  color: aliceblue;
  background: yellowgreen;
  transition: 0.3s;
}

img {
  border-radius: 50%;
}

.second-column {
  padding-left: 50%;
  padding-left: 67%;
}
.second-column h3 {
  color: gray;
}
details summary{
color: orangered;
}
details span{
  color: black;
  background: peru;
}

