@font-face {
  font-family: sitefont;
  src: url(/endurance-portfolio-website/assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}
body {
background-color: #f1f1f1;
  padding: 40px;
  font-family: Arial;   
}

header {
  display: grid;
  width: 100%;
  padding: 30px 20px;
}

.first-rows{
  display: grid;
  grid-template-columns: auto auto;
border: 1px solid green;
}

.logo {
  color: blueviolet;
  font-size: 1.8rem;
  font-weight: 600;
}



.navbar {
  display: flex;
}
.navbar li {
  list-style: none;
}
.navbar a {
  color: blueviolet;
  font-size: 1rem;
  padding: 10px 20px;
  font-weight: 500;
}
.navbar a:hover {
  color: aliceblue;
  background: yellowgreen;
  transition: 0.3s;
}

img {
  border-radius: 50%;
}

.second-rows {
  justify-content: center;
  border: 2px solid red;
  display: grid;
  /* grid-template-rows: auto; */
}
.second-rows h3 {
  color: gray;
}
details summary{
color: orangered;
margin: 11%;

}
details{
  background-color: white;
  
 
}
details button{
  
margin: 18%;

}
details form{
  margin: 11%;
}

.current{
  display: grid;
  grid-template-columns: 200px 200px;
  border: 1px solid red;
  gap: 50px;
}


